[alias]
a = add .
rt = reset HEAD~
rth = reset --hard
rtm = reset origin/master --hard
ct = commit -m _ -n
cta = commit --amend -n
ctm = commit -m
cp = cherry-pick
rem = rebase master
rec = rebase --continue
cht = checkout
sw = switch
f = fetch
p = push
pn = push --no-verify
pf = push -f
pfn = push -f --no-verify
pl = pull
b = branch
ba = branch -a
st = status -s
l = log --oneline
